@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height:60vw;
    margin:0px;
    padding:0px;
    background: url(https://wallpaper-house.com/data/out/8/wallpaper2you_256828.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.header{
    position:fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.85);
    height: 50px;
    width:100%;
}
.header-name{
    float:left;
    display: flex;
    align-items: center;
    height: 100%;
}
.sign{
    float:right;
    display: flex;
    align-items: center;
    height:100%;
}
.create-new{
    width:120px;
    float:right;
    display: flex;
    align-items: center;
    height:100%;
}
a{
    color:white;
    text-decoration: none;
}
#button-1{
    margin-left: 5px;
    width: 80px;
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;
}
#button-1:hover{
    background-color: rgb(92, 92, 92,0.7);
}

#button-2{
    width: 120px;
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;
}
#button-2:hover{
    background-color: rgb(92, 92, 92,0.7);
}
.full-container{
    position:relative;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    top:24%;
    width:60vw;
    height:25vw;
    margin:auto;
    /* border:1px solid black; */
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5),
    0px 0px 10px rgb(0, 0, 0, 0.5);
}
.input-container{
    margin-top: 0px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.submit-container{
    margin-top:3vw;
    margin-bottom: 5vw;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.input-element{
    color:white;
    background-color: rgb(92, 92, 92, 0.4);
    border:1px solid rgb(120, 120, 120);
    border-radius:8px;
    padding:1vw;
    height:1.5vw;
    width:12vw;
    margin-left:1vw;
    margin-right:1vw;
    margin-top:1vw;
    margin-bottom:5px;
}

.input-element::placeholder{
    font-family: 'Nunito Sans', sans-serif;
    font-size:1vw;
    
}
.submit-element{
    width:14vw;
    height:3.8vw;
}
#container{
    width:98%;
    overflow: auto;
    /* border: 2px solid black; */
    margin-top:51px;
    margin-left: 8px;
    
    display:inline-block;
    align-items: center; 
    justify-content: center;
}
.product_post{
    overflow: auto;
    float:left;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    width: 17%;
    height:23vw;
    margin: 3px;
    border: 2px solid black;
}
.product_post img{
    text-align: center;
    width:100%;
    margin:auto;
    border-radius: 4px;
}


.btn-donate {
    vertical-align: middle;
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    /* padding: 0.9em 1.4em; */
    width: 10vw;
    height: 4vw;
    font-size: 1.5vw;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn-donate:hover {
    background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
    .btn-donate {
        transition: linear;
    }
}
.con-header-p{
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
    padding:0;
}
.con-header{
    margin:20px 0px 0px 0px;
    padding:0;
}