<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Market</title>
</head>
<body>
    {%extends 'base.html'%}

    {%block content%}
            <h2>Create product</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <br>
                <button type="submit">add</button>
            </form>
    {%endblock content%}
</body>
</html>