<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Market</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Rubik:wght@300;400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        
        body{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
    {%extends 'base.html'%}

    {%block content%}
            <h2>Create product</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <br>
                <button type="submit">add</button>
            </form>
    {%endblock content%}
</body>
</html>